.container {
  width: 100%;
}

.content {
    width: 100%;
    max-height: calc(100vh - 70px);
    min-height: calc(100vh - 70px);
    margin-top: 54px;
    overflow: auto;
    padding: var(--space-4);
}

